<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>Phaser 新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## Phaser 入门

**1.  下载Phaser示例代码**  [点击下载](https://www.phaser-china.com/inter/download/downloadFile.php?file=example.php)。
**2.  运行代码**  解压后双击index.html打开，看到效果与[线上](http://game.webxinxin.com/learn/exam8.html)效果一致。
**3.  理解代码**  可以观看[入门文档](https://www.phaser-china.com/tutorial-detail-1.html)，快速理解实例代码的逻辑。提示：文档中代码需要在服务器环境下运行，与2中代码区别在于渲染模式，详见视频教程，Phaser环境搭建篇。
**4.  系统学习**  可以观看Phaser视频教程全系列，边看边动手写代码，效果会更好。

## Phaser 资源

**Phaser视频教程全系列**

* Phaser环境搭建视频  
在线地址：https://v.qq.com/x/page/r03727n37wu.html  
下载地址：http://pan.baidu.com/s/1pKFyRY7  密码：gy5r
* 如何快速跑起来一个phaser的小游戏  
在线地址：https://v.qq.com/x/page/o0346soeh12.html  
下载地址：http://pan.baidu.com/s/1pL0LY0V  密码：128a
* 飞机大战制作全过程（一）  
在线地址：https://v.qq.com/x/page/p0381wocnrr.html  
下载地址：https://pan.baidu.com/s/1dE39rVj  密码：3p27
* 飞机大战制作全过程（二）  
在线地址：https://v.qq.com/x/page/w03839klu2k.html  
下载地址：https://pan.baidu.com/s/1c2swCNm  密码：xch4
* 飞机大战制作全过程（三）  
在线地址：https://v.qq.com/x/page/l03854eztfc.html  
下载地址：https://pan.baidu.com/s/1skYZN0T  密码：9aja

**Phaser小站**  https://www.phaser-china.com
**Phaser游戏合集**  https://www.phaser-china.com/show.html
**Phaser文档搜索**  https://www.phaser-china.com/search-result.html
**Phaser实例全集**  https://www.phaser-china.com/example.html

## Phaser QQ群

**官方PhaserQQ群，群号：519413640**

*/
        })) %>
      </div>
    </div>
  </div>
</div>
